<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Registration</title>
</head>
<body>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Create Account</h3>
                            <p class="mb-4">Please fill in the details to create an account.</p>
                        </div>
                        <form action="/signup-client" method="post"> <!-- Replace with your registration endpoint -->
                            <div class="form-group first mb-3">
                                <label for="first-name">First Name</label>
                                <input type="text" class="form-control" id="first-name" name="firstName" required>
                            </div>
                            <div class="form-group last mb-3"> <!-- Added bottom margin here -->
                                <label for="last-name">Last Name</label>
                                <input type="text" class="form-control" id="last-name" name="lastName" required>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="organization">Organization</label>
                                <input type="text" class="form-control" id="organization" name="organization" required>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            
                            <input type="submit" value="Register" class="btn btn-block btn-primary">

                            <span class="d-block text-left my-4 text-muted">&mdash; or register with &mdash;</span>
                            
                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span class="icon-facebook mr-3"></span> 
                                </a>
                                <a href="#" class="twitter">
                                    <span class="icon-twitter mr-3"></span> 
                                </a>
                                <a href="#" class="google">
                                    <span class="icon-google mr-3"></span> 
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
