body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fafb;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px;
  }
}

.content .contents, .content .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .content .contents, .content .bg {
    width: 100%;
  }
}
.content .contents .form-group, .content .bg .form-group {
  overflow: hidden;
  margin-bottom: 0;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
  background: #edf2f5;
  border-bottom: 1px solid #e6edf1;
}
.content .contents .form-group label, .content .bg .form-group label {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  color: #b3b3b3;
  transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.content .contents .form-group input, .content .bg .form-group input {
  background: transparent;
  width: 100%;
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  background-color: transparent;
}

.content .contents .form-group.first, .content .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.content .contents .form-group.last, .content .bg .form-group.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.content .contents .form-control:focus, .content .bg .form-control:focus {
  outline: none;
  box-shadow: none;
}

/* Floating label effect */
.content .contents .form-group input:focus + label,
.content .contents .form-group input:not(:placeholder-shown) + label {
  transform: translateY(-30px);
  font-size: 12px;
  color: #cbcbcb;
}

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.social-login a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.img-fluid {
  position: fixed;
  max-width: 40%;
  height: auto;
}
